.login {
    background-color: var(--light-blue);

    .password {
        position: relative;

        .icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
    }
}

.login > div {
    width: 40rem;
}